## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1= random.sample(range(0,100),80)   #random.sample devuelve una lista de 80 elementos extraídos sin repetición de la secuencia del 0 al 100
print(sample_list_1)

[91, 46, 48, 0, 78, 11, 99, 81, 25, 17, 52, 83, 43, 85, 54, 22, 69, 90, 6, 27, 39, 8, 73, 42, 24, 95, 2, 94, 33, 70, 47, 59, 16, 66, 51, 76, 62, 23, 98, 72, 40, 3, 12, 88, 13, 93, 56, 92, 41, 26, 53, 64, 37, 30, 5, 96, 67, 20, 68, 58, 9, 74, 57, 18, 35, 1, 89, 21, 10, 80, 71, 15, 86, 49, 60, 7, 4, 36, 44, 28]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print(type(set1))

<class 'set'>

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here
sample_list_2 = []

for x in range(80):
    sample_list_2.append(int(random.uniform(0,100)))
print(sample_list_2)

[14, 14, 85, 98, 43, 15, 80, 34, 95, 74, 6, 77, 47, 2, 52, 7, 46, 89, 7, 96, 37, 87, 50, 15, 38, 54, 43, 71, 80, 8, 98, 53, 63, 85, 42, 96, 29, 8, 78, 46, 51, 73, 96, 65, 89, 85, 76, 94, 98, 7, 37, 96, 24, 73, 3, 94, 51, 33, 32, 0, 84, 26, 65, 65, 27, 23, 27, 53, 43, 51, 43, 40, 7, 45, 2, 14, 91, 53, 21, 90]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here
print(len(sample_list_2))
set2 = set(sample_list_2)
print(f"La longitud del set es {len(set2)}, no sigue siendo {len(sample_list_2)} ya que se repiten elementos y un set te extrae una versión única de cada elemento")

80
La longitud del set es 49, no sigue siendo 80 ya que se repiten elementos y un set te extrae una versión única de cada elemento

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
# Your code here
set3=set1-set2
print(set3)

{1, 4, 5, 9, 10, 11, 12, 13, 16, 17, 18, 20, 22, 25, 28, 30, 35, 36, 39, 41, 44, 48, 49, 56, 57, 58, 59, 60, 62, 64, 66, 67, 68, 69, 70, 72, 81, 83, 86, 88, 92, 93, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here
set4=set2-set1
print(set4)

{32, 65, 34, 38, 45, 14, 77, 50, 84, 87, 29, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 2, 3, 6, 7, 8, 15, 21, 23, 24, 26, 27, 33, 37, 40, 42, 43, 46, 47, 51, 52, 53, 54, 71, 73, 74, 76, 78, 80, 85, 89, 90, 91, 94, 95, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [36]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

set2-set1 == set3.union(set4)

80
49
43
12
37

False

#### Create an empty set called `set6`.

In [47]:
# Your code here
set6= set([])
print(set6)
print(type(set6))

set()
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
# Your code here
set6.update(set3)
print(set6)

set6.update(set5)
print(set6)

{1, 4, 5, 9, 10, 11, 12, 13, 16, 17, 18, 20, 22, 25, 28, 30, 35, 36, 39, 41, 44, 48, 49, 56, 57, 58, 59, 60, 62, 64, 66, 67, 68, 69, 70, 72, 81, 83, 86, 88, 92, 93, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 60, 62, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 80, 81, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [52]:
# Your code here
print(f"Is {set1 == set6} that set1 and set6 are equal.")

Is True that set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [54]:
# Your code here
set2.issubset(set1),set3.issubset(set1)

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [57]:
# Your code here
set3.union(set4,set5).union(set1,set2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 80,
 81,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99}

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 60, 62, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 80, 81, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [63]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 37, 40, 42, 43, 44, 46, 47, 48, 52, 53, 54, 56, 57, 58, 60, 62, 64, 66, 67, 68, 70, 72, 73, 74, 76, 78, 80, 83, 85, 86, 88, 90, 92, 93, 94, 95, 96, 98}